function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto SquareGame.IF.0
goto SquareGame.IF.1
label SquareGame.IF.0
push this 0
call Square.moveUp 1
pop temp 0
label SquareGame.IF.1
push this 1
push constant 2
eq
if-goto SquareGame.IF.3
goto SquareGame.IF.4
label SquareGame.IF.3
push this 0
call Square.moveDown 1
pop temp 0
label SquareGame.IF.4
push this 1
push constant 3
eq
if-goto SquareGame.IF.6
goto SquareGame.IF.7
label SquareGame.IF.6
push this 0
call Square.moveLeft 1
pop temp 0
label SquareGame.IF.7
push this 1
push constant 4
eq
if-goto SquareGame.IF.9
goto SquareGame.IF.10
label SquareGame.IF.9
push this 0
call Square.moveRight 1
pop temp 0
label SquareGame.IF.10
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGame.WHILE.0
push local 1
not
not
if-goto SquareGame.WHILE.1
label SquareGame.WHILE.2
push local 0
push constant 0
eq
not
if-goto SquareGame.WHILE.3
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.WHILE.2
label SquareGame.WHILE.3
push local 0
push constant 81
eq
if-goto SquareGame.IF.12
goto SquareGame.IF.13
label SquareGame.IF.12
push constant 0
not
pop local 1
label SquareGame.IF.13
push local 0
push constant 90
eq
if-goto SquareGame.IF.15
goto SquareGame.IF.16
label SquareGame.IF.15
push this 0
call Square.decSize 1
pop temp 0
label SquareGame.IF.16
push local 0
push constant 88
eq
if-goto SquareGame.IF.18
goto SquareGame.IF.19
label SquareGame.IF.18
push this 0
call Square.incSize 1
pop temp 0
label SquareGame.IF.19
push local 0
push constant 131
eq
if-goto SquareGame.IF.21
goto SquareGame.IF.22
label SquareGame.IF.21
push constant 1
pop this 1
label SquareGame.IF.22
push local 0
push constant 133
eq
if-goto SquareGame.IF.24
goto SquareGame.IF.25
label SquareGame.IF.24
push constant 2
pop this 1
label SquareGame.IF.25
push local 0
push constant 130
eq
if-goto SquareGame.IF.27
goto SquareGame.IF.28
label SquareGame.IF.27
push constant 3
pop this 1
label SquareGame.IF.28
push local 0
push constant 132
eq
if-goto SquareGame.IF.30
goto SquareGame.IF.31
label SquareGame.IF.30
push constant 4
pop this 1
label SquareGame.IF.31
label SquareGame.WHILE.4
push local 0
push constant 0
eq
not
not
if-goto SquareGame.WHILE.5
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.WHILE.4
label SquareGame.WHILE.5
goto SquareGame.WHILE.0
label SquareGame.WHILE.1
push constant 0
return
